// Body
$body-bg: #fbf9f9;
$front-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray: #9597a6;
$bluegray: #dadbe6;
$white: #fff;
$black: #000;
$dark: #212529;

//Button&Icon
$button-dark: #545871;
$button-outline: #707070;
$button-text: #707070;
$button-detail: #8c92b9;

$end1: #ec4e4e;
$end2: #57bcff;
$end3: #81d4a7;
