@charset "UTF-8";

h1 {
  color: #9597a6;
  font-family: "Yu Gothic", "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, "\6E38\30B4\30B7\30C3\30AF\4F53", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "\30E1\30A4\30EA\30AA", sans-serif;
}

.buttonWrapper button {
  border: none;
  cursor: pointer;
  outline: none;
  max-width: 80%;
  margin: 5px 10%;
}

.confirmationForm:-moz-read-only {
  background-color: white;
  resize: none;
  min-height: 200px;
}

.confirmationForm:read-only {
  background-color: white;
  resize: none;
  min-height: 200px;
}

