.mess {
    color: #9597a6;
    position: relative;
    top: 30px;
}
.mail {
    position: relative;
    left: 100px;
    width: 400px;
}
.submit {
    background-color: #545871;
    border-radius: 20px;
    width: 120px;
    position: relative;
    left: 190px;
    top: 20px;
}
